<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"><link href=https://cdn.bootcss.com/element-ui/2.4.11/theme-chalk/index.css rel=stylesheet><title>西柚机官网</title><link href=./static/css/app.ec68a5ae016ad4b4740e1bea352b93d1.css rel=stylesheet></head><style>html{
      width: 100%;
      height: 100%;

    }
    body{
      width: 100%;
      height: 100%;
    }
    #app{
      width: 100%;
      height: 100%;
    }
    .xy_con_text {
        width: 7.5rem;
        height: auto;
        margin: 0 auto;
    }</style><body><div id=app></div><script src=https://cdn.bootcss.com/vue/2.5.22/vue.min.js></script><script src=https://cdn.bootcss.com/element-ui/2.4.11/index.js></script><script src=https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js></script><script src=https://cdn.bootcss.com/axios/0.15.3/axios.min.js></script><script type=text/javascript src=./static/js/manifest.e2256cff376c207f96c0.js></script><script type=text/javascript src=./static/js/vendor.94e8b7605238e9e07c33.js></script><script type=text/javascript src=./static/js/app.9bcfe770c0529fa4d8d4.js></script></body></html>